.footer {
    background-color: #131313;
    color: #757575;
    font-size: 0.8rem;
    padding: 2rem;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #757575;
  }
  
  .footer a:hover {
    color: #fff;
  }
  